# ============================
# DJANGO CONFIG
# ============================
DJANGO_SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=*

# ============================
# DATABASE
# ============================
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=realmate
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# ============================
# CORS / CSRF
# ============================
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True
